-#  This file is app/views/project/about.html.haml
#about
 .title
  %h1 Student Health Service
 .body
  %h3 Link to pivotaltracker
  =link_to 'pivottracker',@tracker
  %h3 Link to github repository
  =link_to 'github repository',@github
  %h3 Requirement
  %p<
   ปกติแล้วเว็บของงานอนามัยจะขึ้นกับหน่วยงาน สปข.  ทำให้ลูกค้าไม่สามารถอัพเดทข้อมูลได้ด้วยตัวเอง และในการอัพเดทข้อมูลแต่ละครั้งต้องผ่านการอนุมัติจากสปข. 
   ซึ่งใช้เวลาในการจะอนุมัตินานทำให้บางครั้งข้อมูลที่จะอัพเดทหมดอายุงานไปก่อนที่จะได้อัพลงเว็บไซท์ อีกส่วนที่สำคัญที่ลูกค้ารู้สึกไม่ค่อยพอใจคือ
   หน้าเว็บไซท์ดูไม่น่าสนใจและไม่สามารถตอบโต้กับผู้ใช้งานได้ตามความต้องการ  ดังนั้นสิ่งที่ลูกค้าต้องการคือ
  %br
  1.ลูกค้าต้องการที่จะสามารถอัพเดทข้อมูลได้ด้วยตัวเอง
  %br
  2.ลูกค้าต้องการให้หน้าเว็บไซท์ดูมีความน่าสนใจ 
  %br
  3.ลูกค้าต้องการให้ข้อมูลในแต่ละส่วนที่ไม่เกี่ยวข้องกันแยกออกจากกันอย่างชัดเจน (จัดระเบียบของข้อมูลในหน้าเว็บ  ไซท์)
  %br
  4.ลูกค้าต้องการให้หน้าเว็บไซท์สามารถตอบโต้กับUserที่เข้ามาใช้เว็บไซท์งานได้
  %br
  5.ลูกค้าต้องการให้มีการเพิ่มในส่วนของช่องทางการติดต่อเพื่อปรึกษาปัญหาต่างๆระหว่างUserกับAdminในเว็บไซท์

  %h3 ER-diagram
  =image_tag("er-diagram.png")
  %h3 Storybroad/Lo-fi
  =image_tag("storybroad.png")
  %h3 User Story
  %p<
  %h4 Feature: user สามารถเข้ามาดูเนื้อหาต่างๆในส่วนของกองอนามัยได้
  %br
  Scenario1 : user สามารถเข้ามาดูภาพกิจกรรมต่างๆได้
  %br
  Given เรากำลังอยู่ที่ “Student Health Service home page”
  %br
  When เราคลิกเลือกที่ “[ชื่ออัลบัม]” 
  %br
  Then เราควรจะไปที่ “Activities page”
  %br
  And เราควรจะเห็นภาพกิจกรรมทั้งหมดที่อยู่ใน “[ชื่ออัลบัม]”
  %br
  Scenario2 : user สามารถเข้ามาดูข่าวสารประชาสัมพันธ์ต่างๆได้
  %br
  Given เรากำลังอยู่ที่ “Student Health Service home page”
  %br
  When เราคลิกเลือกที่ “[หัวข้อข่าวประชาสัมพันธ์]”  
  %br
  Then เราควรจะไปที่ “Hot News page”
  %br
  And เราควรจะเห็นภาพ และ เนื้อหาของข่าวที่อยู่ใน “[หัวข้อข่าวประชาสัมพันธ์]”
  %br
  Scenario3 : user สามารถเข้ามาดูสาระน่ารู้ต่างๆได้
  %br
  Given เรากำลังอยู่ที่ “Student Health Service home page”
  %br
  When เราคลิกเลือกที่ “[หัวข้อสาระน่ารู้]”   
  %br
  Then เราควรจะไปที่ “Knowledge page”
  %br
  And เราควรจะเห็นเนื้อหาสาระที่อยู่ใน “[หัวข้อสาระน่ารู้]”
  %br
  Scenario4 : user สามารถเข้ามาดูรายละเอียดต่างๆเกี่ยวกับกองอนามัยได้
  %br
  Given เรากำลังอยู่ที่ “Student Health Service home page”
  %br
  When เราคลิกเลือกที่ “About me”  
  %br
  Then เราควรจะไปที่ “About me page”
  %br
  And เราควรจะเห็นรายละเอียดต่างๆเกี่ยวกับกองอนามัย

  %p<
  %h4 Feature: admin สามารถเข้ามา เพิ่ม แก้ไข ลบ เนื้อหาต่างๆในส่วนของกองอนามัยได้
  %br
  Scenario1 : admin  สามารถเข้ามาเพิ่ม แก้ไข หรือ ลบภาพกิจกรรมต่างๆได้
  %br
  Given เรากำลังอยู่ที่ “Admin page”
  %br
  When เราคลิกเลือกที่ “Activity” 
  %br
  Then เราควรจะไปที่ “Activities page”
  %br
  And เราควรจะเห็นตาราง”Activity” ที่มี column edit และ delete เพิ่มเข้ามด้วย
  %br
  And เราควรจะเห็น ปุ่มสำหรับ Add กิจกรรมเพิ่มเติมด้วย 
  %br
  Scenario2 : admin  สามารถเข้ามาเพิ่ม แก้ไข หรือ ลบ ข่าวประชาสัมพันธ์ต่างๆได้
  %br
  Given เรากำลังอยู่ที่ “Admin page”
  %br
  When เราคลิกเลือกที่ “Information” 
  %br
  Then เราควรจะไปที่ “Information page”
  %br
  And เราควรจะเห็นตาราง”Information” ที่มี column edit และ delete เพิ่มเข้ามด้วย
  %br
  Andเราควรจะเห็น ปุ่มสำหรับ Add ข่าวสารประชาสัมพันธ์เพิ่มเติมด้วย 
  %br
  Scenario3 : admin  สามารถเข้ามาเพิ่ม แก้ไข หรือ ลบ สาระน่ารู้ต่างๆได้
  %br
  Given เรากำลังอยู่ที่ “Admin page”
  %br
  When เราคลิกเลือกที่ “Knowledge” 
  %br
  Then เราควรจะไปที่ “Knowledge page”
  %br
  And เราควรจะเห็นตาราง”Knowledge” ที่มี column edit และ delete เพิ่มเข้ามด้วย
  %br
  And เราควรจะเห็น ปุ่มสำหรับ Add สาระน่ารู้เพิ่มเติมด้วย 
  %br
  
  %h3 Member
  %h4 นายอุกฤษฏ์ วณิชย์รุจี 5310610190
  %h4 นาย วัชรวิทย์ เสาวคนธ์ 5310612584
  %h4 นายโชติวุฒิ ธาดาธีรธรรม 5310611354
  %h4 นางสาว ณัฏฐา สันตะวลิ้ม 5310613178
  %h4 นางสาว ณัชชา อัครเบญจสิริ 5310613335
  
 

%div 
 %h4 Feature: Admin can manage information table
%div Background: informations in database
%div Given the following informations exist:
%div |    topic     |    content    | picture  |    institution     |
%br
%div | 1test topic  | 1test content | no image |  1test institution |
%br
%div | 2test topic  | 2test content | no image |  2test institution |
%br
%div | 3test topic  | 3test content | no image |  3test institution |
%br
%div | 4test topic  | 4test content | no image |  4test institution |
%div Scenario: Admin can add information record
%div Given I am on the information page
%div When I follow "Create new information"
%div Then I should be on the create new information page
%div When I fill in "Topic" with "new test topic"
%div And I fill in "Content" with "new test content"
%div And I fill in "Picture" with "new test picture"
%div And I fill in "Institution" with "new test institution"
%div When I press "Create new information"
%div Then I should be on the information page
%div And I should see "new test topic"
%div Scenario: Admin can edit information record
%div Given I am on the information page
%div When I follow "More about '1test topic'"
%div Then I should be on the details of content page for '1test topic'
%div When I follow "Edit"
%div Then I should be on the edit page for '1test topic'
%div When I change "1test topic" with "new test topic"
%div When I press "Update Information"
%div Then I should be on the details of content page for 'new test topic'
%div And I should see "new test topic"
%div Scenario: Admin can delete information record
%div Given I am on the information page
%div When I follow "More about '2test topic'"
%div Then I should be on the details of content page for '2test topic'
%div When I press "Delete"
%div Then I should be on the information page
%div And I should not see "2test topic"
%div
 %h4 Feature: User can see all of Student Health Service Page
%div Scenario: User can see information
%div When I am on Student Health Service Home page
%div Then I should see "Information"
%div And I should see "Activities"
%div And I should see "Knowledges"



 

